@font-face {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-serif-display-v5-latin-regular.woff2") format("woff2"),
    url("../fonts/dm-serif-display-v5-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/public-sans-v7-latin-regular.woff2") format("woff2"),
    url("../fonts/public-sans-v7-latin-regular.woff") format("woff");
}
