//COLORS
$pm-pink: #ba4270;
$pm-white: #fbfcfe;

$sc-blue: #36536b;
$sc-dark-blue: #1b262f;
$sc-light-blue: #6c8294;
$sc-pink: #da6d97;

//TYPOGRAPHY
$font-heading: "DM Serif Display", "Arial", sans-serif;
$font-parapgraph: "Public Sans", "Arial", sans-serif;

$font-weight: 400;

$h1-large: 72px;
$h1-small: 56px;

$h1-large-line: 72px;
$h1-small-line: 56px;

$h2-size: 48px;
$h2-line: 56px;

$h3-big-size: 32px;
$h3-small-size: 18px;

$h3-big-line: 40px;
$h3-small-line: 25px;

$h4-size: 24px;
$h4-line: 32px;

$text-size: 15px;
$text-line: 28px;
