.benefits__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.benefits__item {
  max-width: 350px;
  width: 100%;
}

.benefits__item--heading {
  text-align: center;
  font-family: $font-parapgraph;
  font-size: $h3-small-size;
  font-weight: 700;
  line-height: $h3-small-line;
  color: $sc-blue;
}

.benefits__item--paragraph {
  text-align: center;
  font-family: $font-parapgraph;
  font-size: $text-size;
  line-height: $text-line;
  font-weight: $font-weight;
  color: $sc-blue;
}

.wellet::before {
  content: "";
  display: block;
  width: 106px;
  height: 106px;
  margin: auto;
  background-image: url(/images/svg/wallet.svg);
  background-repeat: no-repeat;
}

.rising::before {
  content: "";
  display: block;
  width: 106px;
  height: 106px;
  margin: auto;
  background-image: url(/images/svg/rising.svg);
  background-repeat: no-repeat;
}

.card::before {
  content: "";
  display: block;
  width: 106px;
  height: 106px;
  margin: auto;
  background-image: url(/images/svg/card.svg);
  background-repeat: no-repeat;
}

@include max($screen-lg) {
  .wellet::before {
    width: 88px;
    height: 88px;
  }

  .rising::before {
    width: 88px;
    height: 88px;
  }

  .card::before {
    width: 88px;
    height: 88px;
  }
}
