.footer {
  padding: 31px;
  background-color: $sc-dark-blue;
}

.footer .container {
  display: flex;
}

.footer__logo {
  margin-right: 64px;
}

.footer__list {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.footer__link {
  text-decoration: none;
  color: $pm-white;

  &:hover {
    font-weight: 700;
  }
}

.icons {
  display: flex;
  justify-content: space-evenly;
  margin-left: 560px;
}

.facebook {
  margin-right: 25px;
  color: #fff;
}

.facebook:hover {
  color: $pm-pink;
}

.twitter {
  margin-right: 25px;
  color: #fff;
}

.twitter:hover {
  color: $pm-pink;
}

.linkedin {
  color: #fff;
}

.linkedin:hover {
  color: $pm-pink;
}
