.uiux {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(/images/png/simpleuiux.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;

  @include max($screen-lg) {
    padding-top: 0px;
  }
}

.uiux__info {
  display: flex;
  justify-content: space-between;

  @include max($screen-lg) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;

    .uiux__image {
      img {
        width: 360px;
      }
    }
  }
}

.uiux__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 445px;
  width: 100%;
}

.uiux__heading {
  font-family: $font-heading;
  font-size: $h2-size;
  font-weight: $font-weight;
  line-height: $h2-line;
  color: $sc-blue;
}

.uiux__paragraph {
  font-family: $font-parapgraph;
  font-size: $text-size;
  font-weight: $font-weight;
  line-height: $text-line;
  color: $sc-blue;
}
