.ready-start {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 95px auto;

  @include max($screen-lg) {
    flex-direction: column;
    align-items: center;
  }
}

.start-button {
  right: 0px;
}

.start__heading {
  font-family: $font-heading;
  font-size: $h2-size;
  font-weight: $font-weight;
  line-height: $h2-line;
  color: $sc-blue;
}
